{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Chambers Fantasy Football {% endblock %}</h1>
    <div class="row">
        <div class="col-sm-12">
            <span>If you want to add a different color check out <a href="https://codepen.io/sosuke/pen/Pjoqqp">this site</a> for creating a filter color 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img class="icon icon-page icon-green"
                src="/static/images/add_black_24dp.svg"
                alt="triangle with all three sides equal"
                
                />
        </div>
        <div class="col-sm-2">
            <img class="icon icon-page icon-yellow"
                src="/static/images/arrow_back_black_24dp.svg"
                alt="triangle with all three sides equal"
                
                />
        </div>
        <div class="col-sm-2">
            <img class="icon icon-page icon-red"
                src="/static/images/clear_black_24dp.svg"
                alt="triangle with all three sides equal"
                
                />
        </div>
        <div class="col-sm-2">
            <img class="icon icon-page"
                src="/static/images/emoji_events_black_24dp.svg"
                alt="triangle with all three sides equal"
                
                />
        </div>
        <div class="col-sm-2">
            <img class="icon icon-page"
                src="/static/images/person_remove_black_24dp.svg"
                alt="triangle with all three sides equal"
                
                />
        </div>
        <div class="col-sm-2">
            <img class="icon icon-page"
                src="/static/images/sports_football_black_24dp.svg"
                alt="triangle with all three sides equal"
                
                />
        </div>
        <div class="col-sm-2">
            <img class="icon icon-page"
                src="/static/images/star_black_24dp.svg"
                alt="triangle with all three sides equal"
                
                />
        </div>
    </div>

{% endblock %}

