{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Players for {{year}} Chambers Fantasy Football {% endblock %}</h1>
    {% include 'goback.html' %}
    {% for player in players %}
        
            <h2>{{ player['name'] }}</h2>
             <h3>{{ player['position']}}</h3>
            <h4>{{ player['score']}}</h4>
        
        <span class="badge badge-primary">{{ player['created'] }}</span>
        <a class="navbar-brand" href="{{ url_for('get_seasons')}}">Seasons</a>|
        <a class="navbar-brand" href="{{ url_for('get_teams')}}">Teams</a>
        <hr>

    {% endfor %}
{% endblock %}
